* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --layout-size: 40px;
  --layout-gap: 8px;
  --color-bg: #F7F7F7;
  --color-fg: white;
  --color-main: rgb(0,0,32);
  --shadow-pop: 4px 4px 0px 0px rgba(0,0,0,0.5);
  --scale-pop: 1.05;
  --scale-push: 0.95;
  --transition-duration: 0.15s;
}

html, body, app-root {
  display: block;
  width: 100%;
  height: 100%;
}

html {
  background: var(--color-bg);
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: inherit;
}
